<!DOCTYPE html>
{% for x in crisis %}
<html>
	<head>
		<title>{{ x.name }}{{ headerNote }}</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
		<script src="/js/jquery-1.7.2.min.js"></script>
		<script src="/js/fadeStuff.js"></script>
		<script src="/js/jquery.isotope.min.js"></script>
		<script src="/js/jquery.cycle.lite.js"></script>
		<script src="/js/slideshowStuff.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
		<!--[if lt IE 9]>
		  <script type="text/javascript" src="/js/excanvas/excanvas.js"></script>
		<![endif]-->
		<script type="text/javascript" src="/js/spinners/spinners.min.js"></script>
		<script type="text/javascript" src="/js/lightview/lightview.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/lightview/lightview.css"/>
	</head>
	<body background="{{bgimg}}">
		<div id="wrapper">
			<div id="content">
				{% include "header.html" %}
				<div id="fadeContent">
					<div id="templatePageInfo">
						<table class="templateTable">
							<tr><td class="sectionTitle"><h3>INFO</h3></td></tr>
							<tr><td>Location</td><td>{{ x.location_region }} {{ x.location_city }}
								{% ifnotequal x.location_city "" %}
									{% ifnotequal x.location_country "" %}
										,
									{% endifnotequal %}
								{% endifnotequal %} {{ x.location_country }}</td></tr>
							<tr><td>Date and Time</td>
								<td>
									{% ifnotequal x.date_year 0 %}
										{{ x.date_time }} 
									{% endifnotequal %}
									{% ifnotequal x.date_year 0 %}
										{% ifnotequal x.date_day 0 %}
											{{ x.date_month }}/{{ x.date_day }}/{{ x.date_year }}
										{% else %}
											{{ x.date_year }}
										{% endifnotequal %}
									{% else %}
										Unknown
									{% endifnotequal %}
									
								</td>
							</tr>
							<tr><td>Human Impact</td>
								<td>
									Dead: {% ifequal x.impact_human_deaths 0 %}
												Unknown
											  {% else %}
											  	{{x.impact_human_deaths|intcomma}} 
											  {% endifequal %}<br />
									Injured: {% ifequal x.impact_human_injured 0 %}
												Unknown
											  {% else %}
											  	{{x.impact_human_injured|intcomma}}
											  {% endifequal %}<br />
									Displaced: {% ifequal x.impact_human_displaced 0 %}
												Unknown
											  {% else %}
											  	{{x.impact_human_displaced|intcomma}}
											  {% endifequal %}</td>
							</tr>
							<tr><td>Economic Impact</td><td>{% ifequal x.impact_economic_amount 0 %}
									Unknown
				  				{% else %}
								{{ x.impact_economic_amount|intcomma }} {{ x.impact_economic_currency }}
								{% endifequal %}</td></tr>
							<tr><td>History</td><td><div class="scrollable">{% ifnotequal x.info_history "" %}{{ x.info_history }}{% else %}Unknown{% endifnotequal %}</div></td></tr>
							<tr><td>Resources Needed</td><td>{{ x.info_resources }}</td></tr>
							<tr><td>Ways to Help</td><td>{{ x.info_help }}</td></tr>
								<tr>
								{% if isEmpty_misc %}
								<td>Misc</td>
								<td>
									{% for m in misc_links %}
										<a href="{{m.link_url}}">{{m.title}}</a><br />
									{% endfor %}
								</td>
								{% endif %}
							</tr>
							<tr><td class="sectionTitle"><h3>MEDIA</h3></td></tr>
							<tr><td>Videos</td>
									<td>
										{% for v in video_ids %}
										<a href='http://www.youtube.com/embed/{{v}}?autoplay=1&autohide=1&border=0&egm=0&showinfo=0&showsearch=0' 
   class="lightview" 
   data-lightview-type="iframe"  
   data-lightview-group="thumbnail-icon-example" 
   data-lightview-options="
     width: 638,
     height: 360,
     viewport: 'scale',
     thumbnail: { image: '/thumbnails/youtube.jpg', icon: 'video' }
   "><img src="http://img.youtube.com/vi/{{v}}/0.jpg" class="yticon" /></a>
										{% endfor %}
									</td>
							</tr>
							<tr><td class="sectionTitle"><h3>RELATED</h3></td></tr>
							<tr><td>People</td>
								<td>
									{% for item in personrefs.items %}
									<a href="/people/{{item.0}}">{{item.1}}</a>
									{% endfor %}
								</td>
							</tr>
							<tr><td>Organizations</td>
								<td>
									{% for item in orgrefs.items %}
										<a href="/organizations/{{item.0}}">{{item.1}}</a>
									{% endfor %}
								</td>
							</tr>
							<tr><td class="sectionTitle"><h3>LINKS</h3></td></tr>
							<tr><td>Social</td><td>
								{% for s in socials %}
									<a href="{{s.link_url}}">{{s.title}}</a><br/>
								{% endfor %}</td>
							</tr>
							<tr><td>External</td>
								<td>
									{% for e in externals %}
										<a href="{{e.link_url}}">{{e.title}}</a><br />
									{% endfor %}
								</td>
							</tr>
						</table>
					</div>
					<div id="pageInfoBox">
		    			<h1>{{ x.name }}</h1>
		    			<hr />
		    			<small>{{ x.info_type }}</small>
		    			<hr />
		    			<div class="slideshow">
								{% for i in ImagesSet %}
									{% ifnotequal i None %}
										<img src="{{i}}" />
									{% endifnotequal %}
								{% endfor %}
								</div>
				    </div>
				</div>
			</div>
		</div>
	</body>
</html>
{% endfor %}