<div id="header">
	<div class="headerLinks" id="navLinks">
		<a href="/">HOME!</a> | 
	    <a class="categoryLink" id="crises" href="/crises">Crises</a> | 
	    <a class="categoryLink" id="people" href="/people">People</a> | 
	    <a class="categoryLink" id="organizations" href="/organizations">Organizations</a> |
	    <input type="text" value="Search for something..." />
   </div>
	<div id="tools" class="headerLinks">
	    <a href="/import">Import</a> | 
	    <a href="/export">Export</a> | 
	    <a href="/test">Tests</a> | 
	    <a href="/meow"><img style="height:20px;" src="https://lh3.googleusercontent.com/-oBx-Gxby-dY/T5UaoPTtouI/AAAAAAAAGO8/P3Vlsxgi_9A/s500/84.gif" /></a>
    </div>
    <div id="iso">
    	<div id="opaqueLayer">
		    {% for img in images %}
		    	{% ifnotequal img.link_url None %}
		    		<div class="item {{ img.link_parent }}"><img class="isoImg" src="{{ img.link_url }}" /></div>
	    		{% endifnotequal %}
		    {% endfor %}
	    </div>
    </div>
</div>
<div id="search_results">
	<div id="xbutton">x</div>
	<h3 id="and_results_header">results for <span id="resultsforand"></span>:</h3>
	<div id="and_results_body"></div><br />
	<h3 id="or_results_header">results for <span id="resultsforor"></span>:</h3>
	<div id="or_results_body"></div>
</div>

<script>
	$(document).ready(function(){
		$('input').focus(function(){
			if ($(this).val() == 'Search for something...') $(this).val('');
		});
		
		$('input').blur(function(){
			$(this).val('Search for something...');
		});
		
		$('input').keypress(function(k){
    		if (k.keyCode == 13 && $(this).val()){
    			var query = $('input').val();
    			$.getJSON('/search', {'q':query}, function(data){
    				if (!$.isEmptyObject(data)){
	    				$('#fadeContent').fadeOut(400);
	    				$('input').val('');
	    				$('#resultsforand').html(String(query.split(" ")).replace(/,/g, ' <small>AND</small> '));
	    				$('#resultsforor').html(String(query.split(" ")).replace(/,/g, ' <small>OR</small> '));
	    				
	    				clearResults();
	    				var andRows = "";
	    				var orRows = "";
	    				var andArray = Array();
	    				var orArray = Array();
	    				var and_row_helper = Array();
	    				var or_row_helper = Array();
	    				
	    				// one word
	    				if (query.indexOf(" ") == -1){
	    					$.each(data['AND'], function(key, value){
		    					if (andArray.indexOf(value[0]) == -1){
		    						andArray.push(value[0]);
		    						and_row_helper.push(value);
		    					}
		    				});
		    				
		    				for (var i = 0; i < andArray.length; i++){
		    					andRows += "<div class=\"resultRow\">" + and_row_helper[i][0] + and_row_helper[i][1] + "</div><hr />";
		    				}
		    				
		    				$('#and_results_body').append(andRows);
		    				$('#or_results_body').css('display', 'none');
		    				$('#or_results_header').css('display', 'none');
		    				$('#search_results').fadeIn(400);
	    				}
	    				// two words
	    				else{
	    					$('#or_results_body').css('display', '');
	    					$('#or_results_header').css('display', '');
	    					$.each(data['AND'], function(key, value){
		    					if (andArray.indexOf(value[0]) == -1){
		    						andArray.push(value[0]);
		    						and_row_helper.push(value);
		    					}
		    				});
		    				$.each(data['OR'], function(key, value){
		    					if (orArray.indexOf(value[0]) == -1){
		    						orArray.push(value[0]);
		    						or_row_helper.push(value);
		    					}
		    				});
		    				
		    				for (var i = 0; i < andArray.length; i++){
		    					andRows += "<div class=\"resultRow\">" + and_row_helper[i][0] + and_row_helper[i][1] + "</div><hr />";
		    				}
		    				for (var i = 0; i < orArray.length; i++){
		    					orRows += "<div class=\"resultRow\">" + or_row_helper[i][0] + or_row_helper[i][1] + "</div><hr />";
		    				}
		    				
		    				$('#and_results_body').append(andRows);
		    				$('#or_results_body').append(orRows);
		    				$('#search_results').fadeIn(400);
	    				}
	    			}
    				else{
    					$('#fadeContent').fadeOut(400);
	    				$('input').val('');
	    				$('#resultsforand').html(String(query.split(" ")).replace(/,/g, ' <small>AND</small> '));
	    				$('#resultsforor').css('display', 'none');
	    				$('#or_results_header').css('display', 'none');
	    				
	    				clearResults();
	    				var rows = "<hr /><div class=\"resultRow\">There were no matches for your search.</div>";
	    				
	    				$('#and_results_body').append(rows);
	    				$('#search_results').fadeIn(400);
    				}
    			});
    		}
    	});
    	
    	$('#xbutton').click(function(){
    		$('#search_results').fadeOut(400);
    		$('#fadeContent').fadeIn(400);
    	});
    	
    	function clearResults(){
    		$('#and_results_body').children().remove();
    		$('#or_results_body').children().remove();
    	}
	});
    </script>