{% for x in organization %}
<html>
	<head>
		<title>{{ x.name }}{{ headerNote }}</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
		<script src="/js/jquery-1.7.2.min.js"></script>
		<script src="/js/fadeStuff.js"></script>
		<script src="/js/jquery.isotope.min.js"></script>
	</head>
	<body background="{{bgimg}}">
		<div id="wrapper">
			<div id="content">
				{% include "header.html" %}
				<div id="fadeContent">
					<div id="templatePageInfo">
						<table class="templateTable">
							<tr><td class="sectionTitle"><h3>INFO</h3></td></tr>
							<tr><td>Location</td>
							<td>{{x.info_loc_city}}, {{x.info_loc_region}}, {{x.info_loc_country}}</td></tr>
							<tr><td>History</td><td>{{ x.info_history }}</td></tr>
							<tr><td>Contact</td>
						    <td>Phone Number: {{ x.info_contacts_phone }}<br />
						        Email Address: {{ x.info_contacts_email }}<br />
						        Mailing Address: {{ x.info_contacts_address }}, {{ x.info_contacts_city }}, 
						            {{ x.info_contacts_state }}, {{ x.info_contacts_zip }}, {{ x.info_contacts_country }}</td></tr>
							<tr>
								{% if isEmpty_misc %}
								<td>Misc</td>
								<td>
									{% for m in misc_links %}
										<a href="{{m.link_url}}">{{m.title}}</a><br />
									{% endfor %}
								</td>
								{% endif %}
							</tr>
							<tr><td class="sectionTitle"><h3>MEDIA</h3></td></tr>
							<tr id="imagesRow"><td>Images</td>
								<td id="imageCell">
								{% for i in ImagesSet %}
									{% ifnotequal i None %}
										<img src="{{i}}" /><br />
									{% endifnotequal %}
								{% endfor %}
								</td>
							</tr>
							<tr><td>Videos</td>
									<td>
										{% for v in videos %}
										<iframe  width="300" src="http://www.youtube.com/embed/{{ youtube_embed }}" frameborder="0" allowfullscreen>
										</iframe><br />
										{% endfor %}
									</td>
							</tr>
							<tr><td class="sectionTitle"><h3>RELATED</h3></td></tr>
							<tr><td>Crises</td>
							<td>
								{% for item in crisisrefs.items %}
									<a href="/crises/{{item.0}}">{{item.1}}</a>
								{% endfor %}
							</td>
							</tr>
							<tr><td>People</td>
							<td>
							{% for item in personrefs.items %}
								<a href="/people/{{item.0}}">{{item.1}}</a>
							{% endfor %}
							</td>
							</tr>
							<tr><td class="sectionTitle"><h3>LINKS</h3></td></tr>
							<tr><td>Social</td><td>
								{% for s in socials %}
									<a href="{{s.link_url}}">{{s.title}}</a><br/>
								{% endfor %}</td>
							</tr>
							<tr><td>External</td>
								<td>
									{% for e in externals %}
										<a href="{{e.link_url}}">{{e.title}}</a><br />
									{% endfor %}
								</td>
							</tr>
						</table>
					</div>
					<div id="pageInfoBox">
		    			<h1>{{ x.name }}</h1>
		    			<hr />
		    			<small>{{ x.info_type }}</small>
		    			<hr />
				    </div>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function(){
				$('img').each(function(){
					if ($(this).attr('src') == $('body').attr('background')) $(this).parent().remove();
				});
				if (!$('#imageCell').length) $('#imagesRow').remove();
			});
		</script>
	</body>
</html>
{% endfor %}