{% for x in organization %}
<html>
	<head>
		<title>{{ x.name }}</title>
		<style>body {width:900px; margin:20px auto;} th { text-align:left; }</style>
	</head>
	<body>
		<a href="/">Home</a><br /><br />
		<table>
			<tr><th>Name</th><td>{{ x.name }}</td></tr>
			<tr><th>Kind</th><td>{{ x.info_type }}</td></tr>
			<tr><th>History</th><td>{{ x.info_history }}</td></tr>
			<tr><th>Contact</th>
			    <td>Phone Number: {{ x.info_contact_phone }}<br />
			        Email Address: {{ x.info_contact_email }}<br />
			        Mailing Address: {{ x.info_contact_address }}, {{ x.info_contact_city }}, 
			            {{ x.info_contact_state }}, {{ x.info_contact_zip }}, {{ x.info_contact_country }}</td>
			<tr><th>Location</th>
				<td>{{x.info_loc_city}}, {{x.info_loc_region}}, {{x.info_loc_country}}</td>
			</tr>
			<tr>
				<th>Embedded Image</th>
				<td>
					{% for i in images %}
						<img src="{{i.link_url}}" /><br />
					{% endfor %}
				</td>	
			</tr>
			<tr>
				<th>Embedded Video</th>
				<td>
					{% for v in videos %}
					<iframe 
						width="560" 
						height="315" 
						src="http://www.youtube.com/embed/{{ youtube_embed }}" 
						frameborder="0" 
						allowfullscreen>
					</iframe><br />
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Social Networks</th>
				<td>
					{% for s in socials %}
					<a href="{{s.link_url}}">{{s.title}}</a><br/>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>External Links</th>
				<td>
					{% for e in externals %}
						<a href="{{e.link_url}}">{{e.title}}</a><br />
					{% endfor %}
				</td>
			</tr>
			
			<tr>
				{% if isEmpty_misc %}
				<th>misc</th>
				<td>
					{% for m in misc_links %}
						<a href="{{m.link_url}}">{{m.title}}</a><br />
					{% endfor %}
				</td>
				{% endif %}
			</tr>
			<tr><th>Organizations</th><td><a href="/unwfp.html">World Food Programme</a></td></tr>
			<tr><th>People</th><td><a href="/jsheeran.html">Josette Sheeran</a></td></tr>
		</table>
	</body>
</html>
{% endfor %}
